<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">  <!-- new -->
    <link rel="stylesheet" href="/css/vendor.min.css"> <!-- new -->
    
</head>


<body>

    <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--scroll">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Simple Crm</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/customers">Customer List</a>
                <a class="mdl-navigation__link" href="/about">About</a>
                <a class="mdl-navigation__link" href="/contact">Contact</a>
            </nav>
        </div>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Title</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
            <div class="container">
                &copy; 2022 - SimpleCrm.WebApi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a asp-area="" asp-controller="Home" asp-action="About">About</a>
            </div>
            <div class=""></div>
        
        <script src="/js/vendor-post.min.js"></script> <!-- new -->
        @await RenderSectionAsync("Scripts", required: false)
        </footer>
       


    </div>
</body>
    

</html>
