

.content {
    width: 80%;
    margin: 200px;
}

.fab-right {
    position: absolute;
    right: 0px;
    top: 66px;
    z-index: 999;
}

.mdl-textfield__error.field-validation-error {
    visibility: visible;
}